<b>Comments within your Code</b>

A vital piece of code writing is including comments within your code. Comments are chunks of text that are written above, below, alongside, etc. lines of code within a cell that is marked as "Code" (or in command mode). These chunks of text will be visable to you, but will NOT be executed as part of the rest of the code. Basically, you are marking your code with commentary -- for your own understanding or to allow someone else reading your code to better understand what you were doing. Get into the practice of writing descriptive comments along with all of your code. While you are learning variaous skills, it will be invaluable for you to notate the purpose of each section of code. Throughout the course lessons, you will find valuable information in the comments that I include in my code.

To create a comment, insert a hashtag before a line of text within a cell that is in command mode. The text will turn green and you will know that it is a comment. See below for what a comment looks like within a cell!

In [ ]:
# this is a comment line

In [ ]:
            # this is just for you!

# Introduction to Data, Datasets, and Basic Python

### What is Data?

Data are individual units of information. Data can include the names of everyone in a community, the height of each player on a basketball team, the life-expectancy rate for several different countries, a description of symptoms from a patient over the course of a hospital stay, or the text from several articles about a specific topic.

### Data Types

Main types of values we will be covering first are: 

- An int value is an integer (whole numbers)
- A float value is a decimal number
- A string value is alpha-numeric characters that cannot be mathematically computed; can use single or double quotes
- A Boolean value is either True or False

In [1]:
123      # this is an integer

123

In [2]:
1.23     # this is a float

1.23

In [3]:
"123"    # this is a string

'123'

In [4]:
'123'    # this is a string, too

'123'

In [5]:
"I'm a string."

"I'm a string."

In [6]:
'I"m a string as well.'

'I"m a string as well.'

In [8]:
'I'm a string as well.'

SyntaxError: invalid syntax (<ipython-input-8-cd141e66e8bc>, line 1)

In [9]:
"\"Hey, me too\", said the next one."   # use an escape key ('\') before double quote (")

'"Hey, me too", said the next one.'

In [10]:
True

True

In [11]:
false            # what color is it?

NameError: name 'false' is not defined

### What is a Variable? 

<b>A variable</b> is a holder or container for a specific value(s). A value can range in type, but regardless of what the value is, the variable holds that information which allows you to call upon it when you need it. Variables can hold one or many values. 

<b>A value</b> is information or data. This can include a number, a sentence, a symbol, an address, etc. The list is endless. Sometimes values are complex and messy, and therefore they are better organized and manipulated when assigned to a variable.

<b>ASSIGNING A VALUE TO A VARIABLE</b>

You can assign any value you choose to any variable you choose. When considering what to name your variables, keep the variable names (1) descriptive, (2) short, and (3) without spaces!

To assign a value to a variable name, you will first write the name of the variable and then add a single equal sign (=), on the right of the equal sign you will write out the value you want to assign that variable.

In [12]:
# <variable name> = <data value>

x = 123    # variable name is x and it has an integer value of 123
y = 1.23   # variable name is y and it has a float value of 1.23
z = "123"  # varialbe name is z and it has a string value of "123"
z1 = '123' # varialbe name is z1 and it has a string value of '123'

<b>OUTPUTTING THE VALUE OF A VARIABLE</b>

What use is a variable if you can never see what value(s) it contains? Throughout this course, you will learn to explore and manipulate the data that is stored within variables. However, before we get too fancy, we have to learn how to display the values that are contained within our variables. We can do this easily by simply typing the variable name in a cell and running that cell -- the output beneath the cell will display the value stored within the variable.

In [13]:
x          # this statement will print the value of x

123

In [14]:
rate = 2.625%

SyntaxError: invalid syntax (<ipython-input-14-233ec2e44f5b>, line 1)

In [15]:
# % is an arithematic operator - we will cover this later


rate = 0.02625
rate

0.02625

In [16]:
found = True    # use a verb to hold Boolean value
found

True

In [17]:
# variable names start with a letter or underscore (_)

_12th = 3
_12th

3

In [18]:
12th = 100
12th

SyntaxError: invalid syntax (<ipython-input-18-d5d3d609326e>, line 1)

In [19]:
# a variable name must start with a letter or underscore (_)


th12=100
th12

100

In [20]:
# variable naming convention

firstName = "camel type"
first_name = "snake type"
firstname = "not very good type"

In [21]:
# variable can hold any data type in Python
value = 20877
value

20877

In [22]:
value = "20877"
value

'20877'

In [23]:
value = 208.77
value

208.77

###  Exercise 1

- Open a new Jupyter Notebook file named <b>exercise1</b>
- On each cell, create a variable called: 
    - my_name : assign a <b>string</b> value and display its value
    - month : assign an <b>integer</b> number and display its value
    - gpa : assign a <b>float</b> number and display its value


- Run each cell at a time
- In a new cell, assign new value to all three variables to new values and display each value
- Run the new cell

In [ ]:
# my_name : assign a string value and display its value
my_name =
my_name

In [ ]:
# month : assign an integer number and display its value

In [ ]:
# gpa : assign a float number and display its value

In [24]:
# assign new value to all three variables

In [28]:
# run this cell and see what happens
my_name
month
gpa

3.5

In [ ]:
# what happened?

<b>PRINTING THE VALUES OF A VARIABLE</b>

The <b>PRINT FUNCTION</b> commands the system to output the values of one or multiple variables. This function comes in handy when you want to see multiple values output together (combating the problem we just saw above). The print function also allows you to display more complex data than just a single value. We will explore more of what this looks like later on -- but for now, get familiar with how the print function works.

In [29]:
print("Hello, world")

Hello, world

In [30]:
my_name = "Goofy"                             
month = "May"                                 
gpa = 5

In [31]:
my_name
month
gpa

5

In [32]:
print(my_name)
print(month)
print(gpa)

Goofy
May
5

In [2]:
print("***")
print()
print("One of Python's strength is its diverse community.")

***

One of Python's strength is its diverse community.

In [34]:
print("text with\t1 tab\t\t2 tabs")

text with	1 tab		2 tabs

In [35]:
print("this is \nmultiple\nlines\nof text")

this is
multiple
lines
of text

In [36]:
print("""this is 
multiple 
lines 
of 
strings in Python""")    # this is a doc-string or block string

this is
multiple
lines
of
strings in Python

In [37]:
print(value)             # where did 'value' variable come from?

208.77

In [38]:
print("Hello, ", my_name)

Hello,  Goofy

In [39]:
greetings = "Hello"
first_name = "Elmo"

In [40]:
print(greetings, firstname)  # what's the result?  why?

Hello not very good type

In [41]:
last_name = "funny"

In [42]:
print(first_name, last_name)  # what's the result?  why?

Elmo funny

In [43]:
print(1, 2, 3, 4, 5)

1 2 3 4 5

In [44]:
print(1, 2, 3, 4, 5, sep='*')

1*2*3*4*5

In [45]:
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [48]:
print(1, 2, 3, 4, 5, end='**')
print(1, 2, 3, 4, 5, end='&\n\n')
print(1, 2, 3, 4, 5)

1 2 3 4 5**1 2 3 4 5&

1 2 3 4 5

In [49]:
EOL = '|'
DELIMITER = '\t'
print(1, 2, 3, 4, 5, sep=DELIMITER, end=EOL)      # user all upper cases for constant variable
print(1, 2, 3, 4, 5, sep=DELIMITER)
print(1, 2, 3, 4, 5, sep=DELIMITER)

1	2	3	4	5|1	2	3	4	5
1	2	3	4	5

In [3]:
val1 = 20877
val2 = "20877"
val3 = 208.77
val4 = "208.77"
print(val1)
print(val2)
print(val3)
print(val4)

20877
20877
208.77
208.77

<b>OUTPUTTING THE TYPES OF DATA WITHIN A VARIABLE</b>

The <b>TYPE FUNCTION</b> commands the system to output the 'variable type' information that is stored within a specific variable. Different variable types require specific codes, therefore, it is always important to be aware of the type of variables you are working with. The type function will read the variable name and output the type of variable that it is.

In [4]:
type(val1)

int

In [5]:
type(val2)

str

In [6]:
type(val3)

float

In [53]:
print(type(val1))
print(type(val2))
print(type(val3))
print(type(val4))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

### Built-in Functions: 
    input([prompt]) : retrieves a string from a user
    int(arg)        : converts arg into an integer value
    float(arg)      : converts arg into a float value
    str(arg)        : converts arg into a string value

In [55]:
input()   # notice In[*]

3

'3'

In [56]:
print("Enter your first name:")
first_name = input()
print("Hello, " , first_name , '!')

Enter your first name:
elmo
Hello,  elmo !

In [57]:
print("What is your name?", end="  ")
first_name = input()
print("Hello, " + first_name + '!')

What is your name?  elmo
Hello, elmo!

In [59]:
first_name = input("Enter your first name: ")
print("Hello, " + first_name + '!')

Enter your first name: Sue
Hello, Sue!

In [7]:
prompt = ">"
print("Enter a number:")
numb1 = input(prompt)
print("Enter next number:")
numb2 = input(prompt)
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>15
Enter next number:
>30

TypeError: can't multiply sequence by non-int of type 'str'

In [9]:
int("123")

123

In [12]:
int(12.9)

12

In [13]:
print(float("123"))
print(float(12))

123.0
12.0

In [14]:
print(str(12.3))
print(str(12))

12.3
12

In [61]:
numb1 = int(numb1)
numb2 = int(numb2)
total = numb1 * numb2
print(total)

480

In [62]:
int("123")

123

In [63]:
int(123.999)

123

In [64]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [65]:
float(123)

123.0

In [66]:
float("123.12")

123.12

In [67]:
str(123)

'123'

In [68]:
str(123.987)

'123.987'

###  Exercise 2
Follow instuction(s) in a comment line

In [ ]:
# 1. Complete the code to get user's name
name = input()

In [ ]:
# 2. Complete the code to display a greeting using user's name
print("Hello,")

In [ ]:
# 3. Complete the code to get user's favorite number
favorite_number = input()

In [ ]:
# 4. Complete the code to display user's favorite number
print("Your favorite number is ")

In [ ]:
# 5. Convert user's favorite number to a string. Fix any error, if necessary
fovorite_number = float(fovorite_number)

print(favorite_number, "is" type(fovorite_number))

In [ ]:
# 6. Display user's favorite number 3 times, separated by a tab. Fix any error, if necessary
print(favorite_number, favorite_number, favorite_number, end=\t)

In [ ]:
# 7. Using one print statement and a separator option only, print user's name 3 times

### Arithmetic Operators
    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division

In [69]:
numb1 = 25
numb2 = 5

In [70]:
print(numb1 + numb2)

30

In [71]:
print(numb1 - numb2)

20

In [74]:
numb2 = 4
numb1 // numb2   # 25 // 4

6

In [75]:
numb1 / numb2

6.25

In [76]:
numb1 % numb2

1

In [77]:
numb1 - ((numb1 // numb2) * numb2)   # 25 - (6 * 4)

1

In [78]:
numb1 % numb2 + 1        # what is going on?

2

In [79]:
numb1 % (numb2 + 1)  # 25 % (4+1)

0

In [80]:
result = 0
result = result + 3
print(result)

3

### Compound Assignment Operators
    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b

In [81]:
result = 0
result += 3
print(result)

3

In [82]:
new_value += 2  # new_value = new_value + 2
print(new_value)

NameError: name 'new_value' is not defined

In [83]:
new_value = 0
new_value += 2  # new_value = new_value + 2
print(new_value)

2

In [84]:
result *= 5
print(result)

15

In [85]:
result /= 5  # result = result / 5
print(result)

3.0

In [86]:
10 / 2

5.0

In [87]:
new_value = 8
new_value %= 5
print(new_value)

3

In [88]:
new_value = 8
new_value //= 5
print(new_value)

1

###  Exercise 3
Follow instuction(s) in a comment line

In [ ]:
# 1. What is 10 divided by 2? Show the answer as a float and an integer.

In [ ]:
# 2. What is the average of these scores: 80, 91, 99, 78, 95, 87, 92?

In [ ]:
# 3. Fix the Python code on the next cell.  It is calculating the sales tax and total price (including sales tax) 
#    for 10 books when the price of a book is $49.95 and the tax rate is 6.5%

price = $49.95
qty = 1
tax = 6.5%
subtotal = price * qty
tax *= sub_total
total = subtotal + tax

# use formatted string
print("Price:\t\t$", price)
print("Quantity:\t$", qty)
print("------------------")
print("Subtotal:\t$" sub_total)
print("Sales Tax:\t$", tax)
print("------------------")
print("Total:\t\n$", total)

### String Operations
    + : concatenation
    * : repeat

In [1]:
message = "secret"
print(message+message)
print(message,message)

secretsecret
secret secret

In [2]:
print(message*5)

secretsecretsecretsecretsecret

In [3]:
print("-" * 30)

------------------------------

In [5]:
one = "One"
ones = one+one+one
print(one)
print(ones)

One
OneOneOne

In [6]:
two = "2"
twos = two * 2
print(two)
print(twos)

2
22

In [8]:
print(two+2)

TypeError: can only concatenate str (not "int") to str